@import helper._
@import forms.TeamForm

@(teamForm: Form[TeamForm])(implicit request: RequestHeader, messages: Messages)

@main("BVPA Fixture Downloader") {
<center>
    <img src="@routes.Assets.versioned("images/BDPL.jpg")" id="header-img" alt="">
    <h1>BDPL Fixture Generator</h1>

    @form(action = routes.HomeController.downloadCalendar()){
    @CSRF.formField
    @select(
      field = teamForm("name"),
      options = TeamForm.teams.map(team => (team.name.toString -> team.name.toString)),
      '_label -> "Select the team you want to download fixtures for:",
      '_showConstraints -> false
    )
    <input type="submit" value="Generate Calendar">
    }
</center>
}
