@import forms.UserLoginForm
@import helper._
@import views.html.components.FormWithCSRF

@this(main: Main, formHelper: FormWithCSRF)

@(loginForm: Form[UserLoginForm], errorMsg: Option[String] = None)(implicit request: TeamRequest[_], messagesProvider: MessagesProvider)
@main("Login", request.teamList) {

    <div id="loginCard">
    @formHelper(action = controllers.routes.LoginController.onSubmit, Symbol("id") -> "login") {
        <h1 id="loginTitle">Enter your login details</h1>
        <div id="loginFormInner">
            @if(errorMsg.isDefined) {
                <p class="error">@errorMsg</p>
            }

            @inputText(
                loginForm("username"),
                Symbol("placeholder") -> "Username",
                Symbol("autocomplete") -> "username",
                Symbol("_showConstraints") -> false,
                Symbol("class") -> "login-input",
                Symbol("_label") -> "",
                Symbol("required") -> ""
            )

            @inputPassword(
                loginForm("password"),
                Symbol("placeholder") -> "Password",
                Symbol("autocomplete") -> "current-password",
                Symbol("_showConstraints") -> false,
                Symbol("class") -> "login-input",
                Symbol("_label") -> "",
                Symbol("required") -> ""
            )

            <input type="submit" value="Sign in" id="loginButton">
        </div>
    }
    </div>
}
