@import helper._
@import views.html.components.FormWithCSRF

@this(
        main: Main,
        formHelper: FormWithCSRF
)
@(message: String, leagues: List[League], hasSubmitted: Boolean = false)(implicit request: TeamRequest[_], messages: Messages)

@main("Upload Fixtures", request.teamList) {

@if(leagues.nonEmpty) {
    <p>Fixtures for the following leagues are in the database:</p>
    <div class="leagues">
        <ul class="leagues">
        @for(league <- leagues) {
            <li>@league.name</li>
        }
        </ul>
    </div>
} else {
    <p>There are no fixtures are in the database:</p>
}

<p>To add fixtures please upload a valid CSV file with fixture information below.</p>

@formHelper(action = routes.UploadController.uploadFile, Symbol("enctype") -> "multipart/form-data") {
<input type="file" name="fileUpload" id="file" class="inputfile"/>
<label for="file">
    <svg width="20" height="17" viewBox="0 0 20 17">
        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
    </svg>
    <strong><span>Choose a file...</span></strong>
</label>
    <p>
    <input type="submit" value="Upload" class="button">
    </p>
}

<p>To erase all fixtures click below.</p>
<p><strong>Do not do this unless you are ready to upload fixtures for a new season.</strong></p>

@formHelper(action =  controllers.routes.UploadController.resetDatabase) {
    <input type="submit" value="Erase Database" class="button erase">
}

@if(hasSubmitted) {
<div id="fileUploaded" class="filealert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>File Upload</strong>
    <p>@message</p>
</div>
}
}